@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Ubuntu:wght@300&family=Varela+Round&display=swap');


body {
    background-color: black;

}

*{
    margin: 0;
    padding: 0;
}

nav {
    font-family: "Ubuntu", sans-serif;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 10vh;
    margin: 1vh;
    border-radius: 5px;
    background-color: rgb(36,36,36);
    color: aliceblue;
}
nav ul li {
    padding: 1%;
    margin-left: 1vh;
    margin-right: 1vh;
}

.brand img {
    width: 8vh;
    padding-right: 10%;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    position: relative;
    min-height: 80vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    overflow-x: auto;
    /* overflow-y: scroll; */
    justify-content: center;
    width: 70%;
    margin: 4vh auto;
    padding: 2vh 2vw;
    border-radius: 12px;
    background-image: url(./Black&BrownRainVideo.gif);
}
.container::-webkit-scrollbar {
    display: none;
  }
  .desi {
    font-size: 4vh;
  }
.songList {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    font-size: 1vh;
}
#progressBar {
    margin-top: 1vh;
    grid-area: 1/2/2/3;
    /* width: 80vw; */
    cursor: pointer;
}
/* .bottom {
    position: sticky;
    bottom: 0;
    height: 10vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    border-radius: 5px;
    background-color: rgb(36,36,36);
} */


.icons {
    grid-area: 2/2/3/3;
    justify-self: center;
    margin-top: 1vh;
}
.cards {
    display: flex;
    /* flex-direction: column; */
    margin-top: 1vh;
    height: fit-content;
}

.songItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    /* align-items: center; */
    color: white;
    border-radius: 5px;
    flex: 0 0 auto;
    height: 20vh;
    background-color: rgb(19,19,18);
    margin:1vh;
    padding: 2vh;

    /*newwww*/
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.songItem:hover {
    background-color: rgb(36,36,36);
    transform: scale(1.05); /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.songItem .albumCover {

    align-self: center
 
}
.songName {
    display: flex;
    flex-wrap: wrap;
}
.timeStamp {
    display: flex;
    justify-content: center;
    font-size: 2vh;
    /* margin: 0 2vw; */
}
.timeStamp i {
    cursor: pointer;
}

.bottom i {
    cursor: pointer;
    margin: 0 1vw;
    font-size: 3vh;
}
#masterSongName {
    grid-area: 3/2/4/3;
    justify-self: center;
}

.songInfo {
    grid-area: 3/2/4/3; 
    justify-self: center;   
    margin-bottom: 1vh;
    font-family: "Varela Round", sans-serif;
}
.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.songItem i {
    font-weight: bolder;
    margin-left: 1vh;
}
.bottom {
    position: sticky;
    bottom: 1vh;
    background-color: black;
    color: aliceblue;
    display: grid;
    grid-template-columns: 3vw 80vw 3vw;
    grid-template-rows: auto auto auto;
    width: 86vw;
    justify-content: center;
    top: auto;
    left: 6vw;
    border-radius: 15px;
    background-color: rgb(36,36,36);
}

.about {
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
}
.about:hover {
    background-color: rgb(46,46,46);
    transform: scale(1.05);
}
.home {
    background-color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
}
.home:hover {
    background-color: rgb(46,46,46);
    transform: scale(1.05);
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 10vh; /* Start 10% from the top */
    bottom: 30vh;
    left: 15vw;
    width: 70vw; 
    height: 60vh; /* 90% of the viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
}

.popup-content {
    background-color: #1e1e1e; /* Dark background */
    color: #ffffff; /* Light text color */
    height: 60vh;
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Center align text */
}

.popup-content h2 {
    margin: 0 0 15px 0; /* Space below heading */
}

.popup-content p {
    line-height: 1.5; /* Readability */
    margin: 10px 0; /* Space between paragraphs */
}

.close {
    cursor: pointer; /* Change cursor to pointer */
    font-size: 28px; /* Size of the close button */
    color: #ffffff; /* Close button color */
    float: right; /* Position close button to the right */
}

.close:hover,
.close:focus {
    color: black; /* Change color on hover */
}

@media (max-width: 544px) {
    .container {      
    background: url('./BlackandWhiteModernPlay.gif') repeat-x;
    background-size: contain;
    transition: 0.4s ease-in-out;
    }
  }

  @media screen and (min-width: 544px) {
    /* Media query for larger screens */
    .cards {
      overflow-x: visible; /* Reset overflow for larger screens */
    }
  }
